<!DOCTYPE html>
<html>
  <head>
    <title>KyleIsSick</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to 'Home', home_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to '12 lizards', lizards_path(12) %></li>
      <li><%= link_to '444 lizards', lizards_path(444) %></li>
      <li><%= link_to '9672 lizards', lizards_path(9672) %></li>
    </ul>
    <%= yield %>
  </body>
</html>
